<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css">
    {% endblock %}
</head>
<body>

{% block content %}

<div class="form-main text-center py-3 mx-auto">
    
    <h2 class="form-title py-3">Review del usuario</h2>
    <form method="POST">
        {{ form.as_p }}
        {% csrf_token %}
        <br/>
        <button class="btn btn-primary my-1" type="submit">Crear review</button>
    </form>
    </div>
</div>
{% endblock %}
{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

</body>
</html>