<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css">
    {% endblock %}
</head>
<body>

    {% load crispy_forms_tags %}
{% block content %}

<div class="py-5">

<p style=" background-color: #ffa420 ; color: black; text-align: center;
border-radius: 8px;"> {{mensaje}} </p>
<div class="form-main text-center mx-auto">
    
    <h2 class="form-title py-3">Haz tu valoración, {{user}}</h2>
    <form method="POST">
        {% csrf_token %}
        {{ form|crispy }}
        <br/>

        <a href= "/rents/{{user.id}}" class="btn btn-info btn-sm" style=" color: white; border-radius: 8px; margin-bottom: 30px; margin-top: 30px; font-weight: bold;">Volver</a>
        <button class="btn btn-primary my-1" type="submit">Crear valoración</button>
    </form>
    </div>
</div>


</div
{% endblock %}
{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

</body>
</html>