<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}

     {% endblock %}   
</head>
<body>
    {% block content %}
  
      <h1 style="color:white; text-align: center;">Detalles disputa </h1>

      {% if request.user.admin == True %}

      <div>
        <h3 class ="py-5" style="border-radius: 8px; color:white; text-align: center;">
          {{contend.rent.game.name}} - {{contend.status}}
        </h3> 
      </div>

      <div style="text-align: center;">
        <img style="width:284px;height:300px; border-radius: 8px" src="{{contend.rent.game.picture.url}}"/>
   
        <div style="color:white; margin-left:30px;"> 

          <h4> Identificador: <a href="/gameDetail/{{contend.rent.game.id}}/rents/" style="color:white; text-decoration: underline;">{{contend.rent}}</a> </h4>
          <h5>Disputador:  {{contend.owner}}</h5>
          <h5>Disputado: {{contend.rent.user}}</h5>
          <h5>Descripción:</h5>
          {{contend.description}}</br>
        </div>
      
        {% if contend.status == 'PENDING' %}
          <form action="/compensation/{{contend.id}}/new/" method="POST" style="margin-top: 16px; margin-left: 5px; 
            color: white;">
              
            {% csrf_token %}
            <div style="margin-top: 10px;">
              Indemnización:</br> 
              <input type="number" id="price" name="price" value="1" min="1" required> € </br>
              <button type="submit" class="btn btn-info btn-sm" style="border-radius: 8px; 
                color:black; font-weight: bold;">Indemnizar</button>
            </div>
          </form>
        {% endif %}      
      </div>
      {% endif %}

  {% endblock %}
</body>
</html>
