<html>

<head>

     {% extends "base.html" %}

     {% load static %}

     {% block extrahead %}

          <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css"> 
          <meta charset="utf-8">
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

     {% endblock %}   

</head>

<body>



{% block content %}

<style>

</style>



<table class="container">

<div style= "margin: auto;">
<h1 class="index-title" style="color: white">¡Pago completado! </h1>
</div>
</table>

{% endblock %}

{% block vue %}

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

{% endblock %}



</body>

</html>
