
<!doctype html>
<html lang="en">
  <head style="height:10%;">
    <script src="https://kit.fontawesome.com/d2a4537912.js" crossorigin="anonymous"></script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <!-- Bootstrap CSS --> 
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css">
    <title>{% block title %}Try On Board{% endblock %}</title>
    <link rel="shortcut icon" type="image/png" href="{% static 'img/favicon.ico' %}"/>
    <style>

    .container-fluid {
        height: 15%;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('{% static "img/header1.png" %}');
    }

    body {
      height:100%;
       background-size: cover;
       background-image: url("{% static 'img/bg-masthead3-1.jpg' %}");
      }

    </style>

<a href="/">
    <div class="container-fluid h-300 text-center py-3">
      </div>
    </a>

    <nav id="myHeader" class="navbar navbar-expand-sm navbar-light navbar-fixed-top scrolling-navbar py-0" style="background-color: #87CED9;" data-toggle="affix">
      <div class="mx-auto">


        <!-- Collapse -->
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse text-center"  id="navbarSupportedContent">
          <ul class="navbar-nav nav-fill">
            {% if request.user.premium == False %}
            <li class="nav-item justify-content-right px-4">
              <a class="nav-link bg-warning" style="border-radius: 20%;" href="" data-toggle="modal" data-target="#exampleModal"><b>Premium</b></a>
            </li>
            {% endif %}
              <li class="nav-item px-4">
                  <a class="nav-link" href="/games/"><b>Juegos <i class="fas fa-dice"></i></b></a>
              </li>
              {% if not request.user.is_authenticated %}
              <li class="nav-item px-4">
                  <a class="nav-link" href="/login"><b>Iniciar sesión <i class="fas fa-sign-in-alt"></i></b></a>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link" href="/newuser"><b>Registrarse <i class="fas fa-user-plus"></i></b></a>
            </li>
              {% else %} <!--   <i class="fas fa-upload"></i>-->
              <li class="nav-item px-4">
                <a class="nav-link" href="/newgame"><b>Subir juego <i class="fas fa-upload"></i> </b></a>
              </li>      

              {% if request.user.admin %}
              <li class="nav-item px-4 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Administración <i class="fas fa-user-lock"></i> </b>
                </a>
                <div class="dropdown-menu" style="background-color: #87CED9; text-align: center !important;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="nav-link dropdown-item" href="/users"><b>Lista usuarios </b></a>
                  <a class="nav-link dropdown-item" href="/contends"><b>Disputas</b></a>
                </div>
              </li>
              {% endif %}
              <li class="nav-item px-4 dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  <b>Cuenta <i class="fas fa-user"></i></b>
                </a>
                <div class="dropdown-menu" style="background-color: #87CED9; text-align: center !important;" aria-labelledby="navbarDropdownMenuLink">
                  <a class="nav-link dropdown-item" href="/profile/{{request.user.id}}"><b>Mi perfil</b></a>
                  <a class="nav-link dropdown-item" href="/myGames"><b>Mis juegos</b></a>
                  <a class="nav-link dropdown-item" href="/rents/{{request.user.id}}"><b>Historial</b></a>
                  <a class="nav-link dropdown-item" href="/logout"><b>Cerrar sesión <i class="fas fa-sign-out-alt"></i></b></a>
                </div>
              </li>
              <li class="nav-item px-4">
                <a class="nav-link" href="/cart"><b>
                  <i class="fa" style="font-size:24px">&#xf07a;</i>
                  <span class='badge badge-warning' id='lblCartCount'> 
                    {% if request.session.cart == None %} 0
                    {% else %} {{request.session.cart}} 
                    {% endif %} </span>

                </b></a>
              </li>
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header"">
                      <h5 class="modal-title text-dark" id="popup">Conseguir premium</h5>
                      
                      {% if request.user.premium == True %}
                      <h5 class="modal-title text-dark" id="popup">Renovar premium</h5>
                      {% endif %}
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <form action="/premium/" method="POST" style="margin-top: 5px; margin-left: 5px; color:black; text-align: center;">
                        {% csrf_token %}
                        <div class="text-center">
                          <h2>¿Por qué elegir premium?</h2>
                          <ul style="list-style-type:none; padding-left: 0;">
                            <li><i class="fas fa-award fa-3x"></i><p style="font-weight: bold;">¡Destaca tus juegos!</p>
                              <p>¡Con TryOnBoard Premium, los juegos que subas serán los primeros en visualizarse en la vista!</p></li>
                          </br>
                            <li><i class="fas fa-piggy-bank fa-3x"></i><p style="font-weight: bold;"> ¡Ahorra en comisiones!  </p>
                            <p>Conseguirás más beneficio por cada juego que alquiles.</p></li>
                          </br>
                            <li><i class="fas fa-handshake fa-3x"></i><p style="font-weight: bold;"> ¡Usuario de confianza!</p>
                            <p>¡Podrás disfrutar de un marco dorado, el cual indicará a los usuarios que eres premium y será un símbolo de confianza!</p></li>
                          </ul>
                        </div>
                        <div id="app2">
                        <div style="margin-top: 5px; text-decoration: solid;">Meses: 
                          <input type="number" v-model.number="meses" id="months" name="months" value="1" style="color: black;" min="1" max="12" required>
                          x 3.99€
                        </div>
                        <p style="color: black;">Precio total: [[totalPremium]] €</p>
    
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                          data-key="pk_test_RQqzBNd4chgHUGDPxZtwsKzU00X9dZcRvR"
                          data-label="Pagar con tarjeta"
                          data-description="Pago"
                          data-currency="eur"
                          data-amount=""
                          data-locale="auto"
                          ></script>
                        
                        </div>                   
                      </form>
    
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
          </ul>
      </div>
 

      </div>
    </nav>

    <script>
      $('ul.nav li.dropdown').hover(function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeIn(500);
      }, function() {
        $(this).find('.dropdown-menu').stop(true, true).delay(200).fadeOut(500);
        });
    </script>
    <script>
      window.onscroll = function() {myFunction()};
      var header = document.getElementById("myHeader");
      var sticky = header.offsetTop;
      function myFunction() {
        if (window.pageYOffset > sticky) {
          header.classList.add("sticky");
        } else {
          header.classList.remove("sticky");
        }
      }
    </script> 
    {% block extrahead %}{% endblock %}
  </head>
  <body>

    

    <div class="container" style="background-color:rgb(46, 64, 75); box-shadow: 0 0 20px rgb(41, 41, 41);">
      {% block content %}
      
      {% endblock %}

      {% block extrabody %}{% endblock %}
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="{% static 'js/bootstrap.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

    <script>
      const app2 = new Vue({
      delimiters: ['[[', ']]'],
      el: '#app2',
      data: {
        meses: '',
        total:0
      },
      methods: {
      },
      computed: {
            totalPremium(){
                this.total = this.meses * 3.99;
                return this.total.toFixed(2);
            }
        }
    })
    </script>
    </div>
    <footer class="page-footer font-small" style="  position: relative; bottom: 0; width: 100%;">
      <!-- Copyright -->
      <div class="footer-copyright text-center py-3" style="background-color: #87CED9;">
        <a target="_blank" href="https://twitter.com/Try_On_Board"> <i class="fab fa-twitter" style="color:rgb(41, 41, 41); size:50px;"></i></a>

        <a target="_blank" href="https://github.com/Acme-Board/board"><i class="fab fa-github" style="color:rgb(41, 41, 41);"></i></a> <br/>
        <i style="color:rgb(41, 41, 41);">© 2020 Copyright: TryOnBoard  
          <a target="_blank" href="/terms" style="color:black; text-decoration: underline;">Términos y condiciones</a>
          <a target="_blank" href="/privacy" style="color:black; text-decoration: underline;">Política de privacidad</a>
        </i>
      </div>
    </footer>
  </body>
</html>
