<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
          <link rel="stylesheet" href="{% static 'css/base_style.css' %}" type="text/css"> 
     {% endblock %}   
</head>
<body>

     {% block content %}

     {% if mensaje %}

     <!-- Espero que vaia, alerta por si el juego ya esta alquilado en la fecha -->
      <div class="alert">
       <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
       {{mensaje}}
     </div>
     
     {% endif %}

     <section class="page-section">
          <div class="index-main py-5" style="text-align: center;">
               <img class="index-icon" src="{% static 'img/icon.png' %}" />
               <h1 class="index-title">¡Bienvenido a la plataforma Try On Board{% if request.user.is_authenticated %}, {{request.user}} {% endif %}!</h1> 

               <p class="index-description">
                    ¡Aquí podrás encontrar juegos de mesa que otra gente alquile cerca de tu zona!
               </p>
               <div class="py-2" style=" border-radius: 10px; margin-left: 15% ;margin-right: 15%; background-color: rgb(78, 194, 188);">
                    <h4 style="color:rgb(115, 75, 128)">¡PRÓXIMAMENTE LANZAMIENTO OFICIAL!</h4>
               </div>
               <div style="margin-top: 10px;">
                    <a href= "/games" class="btn btn-info btn-sm;" style="border-radius: 8px; color:white;">¡Empezar!</a>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href= "#about" style="border-radius: 8px; margin-left: 5%; color:black; font-weight: bold;">¿Quiénes somos?</a>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href= "#marketing" style="border-radius: 8px; margin-left: 5%; color:black; font-weight: bold;">Publicidad</a>
               </div>
          </div>
     </section>


     <section class="page-section py-3" id="about">
          <div class="container">
               <div class="justify-content-center py-2" style="background-color:#87CED9; padding:50px; border-radius: 8px;">
                    <div class="lg-8 text-center" style="margin-left:15%; margin-right: 15%; text-align: center;">
                         <h2 class="mt-0">Sobre nosotros</h2>
                         <hr class="divider light my-4">
                         <p > ¡Try on Board es un proyecto pensado para aquellos jugadores que acumulan
                                                            juegos de mesa para sacarle el mayor partido posible alquilándolos!

                                                            Creado por Acme-Board, una empresa de aficionados a los juegos formada por 10 ingenieros software.
                                                            
                         </p>
                         <a class="btn btn-light btn-xl js-scroll-trigger" href="#services">¿Qué ofrece Try on Board?</a>
                    </div>
               </div>
          </div>
     </section>

     <section class="page-section py-3" id="services">
          <div class="container text-center">
               <div style="background:rgb(90, 159, 170); height:auto; padding: 50px; border-radius: 8px;">
                    <h2 class="text-center mt-0">¡A tu servicio!</h2>
                    <hr class="divider my-4">
                    <div style="margin-bottom: 25px;">
                         <table>
                              <tr>
                                   <td style="width:25%; text-align: justify;">
                                        <div class="lg-3 md-6 text-center">
                                             <i class="fas fa-4x fa-handshake text-primary mb-4"></i>
                                        </div>
                                   </td>
                                   <td style="width:25%; text-align: justify;">
                                        <div class="lg-3 -md-6 text-center">
                                             <i class="fas fa-4x fa-comments text-primary mb-4"></i>
                                        </div>
                                   </td>
                                   <td style="width:25%;">
                                        <div class="lg-3 md-6 text-center">
                                             <i class="fas fa-4x fa-map-marker-alt text-primary mb-4"></i>
                                        </div>
                                   </td>
                                   <td style="width:25%;">
                                        <div class="lg-3 md-6 text-center">
                                             <i class="fas fa-4x fa-thumbs-up text-primary mb-4"></i>
                                        </div>
                                   </td>
                              </tr>
                              <tr>
                                   <td style="width:25%; text-align: justify;">
                                        <div class="lg-3 md-6 text-center">
                                             <h3 class="h4 mb-2" >Alquila juegos</h3>
                                             <p class="mb-0">Alquila los juegos de mesa que te interesen</p>
                                        </div>
                                   </td>
                                   <td style="width:25%; text-align: justify;">
                                        <div class="lg-3 -md-6 text-center">
                                             <h3 class="h4 mb-2">Ponte en contacto</h3>
                                             <p class="mb-0">Contacta con los usuarios para aclarar dudas de los juegos</p>
                                        </div>
                                   </td>
                                   <td style="width:25%;">
                                        <div class="lg-3 md-6 text-center">
                                             <h3 class="h4 mb-2">Localización</h3>
                                             <p class="mb-0">Puedes buscar los juegos publicados más cerca de tu zona</p>
                                        </div>
                                   </td>
                                   <td style="width:25%;">
                                        <div class="lg-3 md-6 text-center">
                                             <h3 class="h4 mb-2" style="margin-top: 20px;">Valoraciones</h3>
                                             <p class="mb-0">¿Te ha gustado algún juego? ¿No? ¡Exprésate valorando a los usuarios!</p>
                                        </div>
                                   </td>
                              </tr>
                         </table>
                    </div>
                    <a class="btn btn-light btn-xl js-scroll-trigger" href="#marketing">Publicidad</a>
               </div>
          </div>
     </section>


     <section class="page-section py-3" id="marketing">
          <div class="container">
               <div style="text-align: center; border-radius:8px; background-color: rgb(64, 117, 119);">
                    <h2 class="text-center mt-0 py-3">Publicidad de nuestra página</h2>
                    <p style="margin-left: 80px; margin-right: 80px;"> En el siguiente enlace de DropBox se encuentran todos los anuncios, banners, carteles, etc que se han 
                         creado para el marketing de nuestra página.
                    </p>
                    <div style="text-align: center;">
                         <a class="text-center btn btn-info" target="_blank" href="https://www.dropbox.com/sh/y7lqsxi4xkmecrf/AABnxbAusfxdDqRO_Dfp09Ada?dl=0">Carpeta de dropbox</a>
                    <br><a class="btn btn-light btn-xl js-scroll-trigger" href="#team" style="margin-top: 20px; margin-bottom: 20px;">El equipo</a>
                    </div> 
               </div>   
          </div>
     </section>


     <section class="page-section py-3" id="team">
               <div style="border-radius: 8px; width:85%; margin-left: 7%; height:300px; background-color: cadetblue;">
                    <h2 class="text-center mt-0 py-3">El equipo</h2>

                    <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                         <ol class="carousel-indicators">
                         <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                         <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
                         </ol>
                         <div class="carousel-inner">
                         <div class="carousel-item active" style="text-align: center; margin-bottom: 50px;margin-top:20px;">
                         <img src="{% static 'img/team/david.png' %}" style="height: 100px;" alt="First slide">
                         <div>
                              David Cuevas <br> Jefe de Proyecto
                         </div>
                         </div>
                              <div class="carousel-item" style="text-align: center; margin-bottom: 50px; margin-top:20px;">
                                   <table style="margin-left: 11%; width: 85%; text-align: center;">                              
                                        <tr>
                                             <td>
                                                  <div style="text-align: center;">
                                                       <img src="{% static 'img/team/juan.png' %}" style="height: 100px;"><br>
                                                       Juan Parra <br> Frontend Leader 
                                                  </div>
                                             </td>
                                             <td>
                                                  <div style="text-align: center;">
                                                       <img src="{% static 'img/team/antonio.png' %}" style="height: 100px;"><br>
                                                       Antonio Macías Zambrano <br> Backend Leader 
                                                  </div>
                                             </td>
                                             <td>
                                                  <div style="text-align: center;">
                                                       <img src="{% static 'img/team/felix.png' %}" style="height: 100px;"><br>
                                                       Félix Jiménez Gonzalez <br> Full Stack
                                                  </div>
                                             </td>
                                        </tr>
                                   </table>
                              </div>
                         <div class="carousel-item" style="text-align: center; margin-bottom: 50px; margin-top:20px;">
                              <table style="margin-left: 8%; width: 85%; text-align: center;">                              
                                   <tr>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/pruizma.png' %}" style="height: 100px;"><br>
                                                  Jose Manuel Ruiz-Mateos <br> Frontend 
                                             </div>
                                        </td>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/pepe.png' %}" style="height: 100px;"><br>
                                                  Jose María Fernandez <br> Backend 
                                             </div>
                                        </td>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/gonzalo a.png' %}" style="height: 100px;"><br>
                                                  Gonzalo Aguilar Hermoso <br> Backend
                                             </div> 
                                        </td>
                                   </tr>
                              </table>
                         </div>
                         <div class="carousel-item" style="text-align: center; margin-bottom: 50px; margin-top:20px;">
                              <table style="margin-left: 9%; width: 85%; text-align: center;">                              
                                   <tr>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/gonzalo.png' %}" style="height: 100px;"><br>
                                                  Gonzalo Fernández <br> Frontend 
                                             </div>
                                        </td>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/adrian.png' %}" style="height: 100px;"><br>
                                                  Adrían Roldan <br> Backend 
                                             </div>  
                                        </td>
                                        <td>
                                             <div style="text-align: center;">
                                                  <img src="{% static 'img/team/luis.png' %}" style="height: 100px;"><br>
                                                  Luis Manuel Sánchez <br> Frontend
                                             </div>   
                                        </td>
                                   
                                   </tr>
                              </table>
                         </div>
                         </div>
                         <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                         <span class="sr-only">Previous</span>
                         </a>
                         <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                         <span class="carousel-control-next-icon" aria-hidden="true"></span>
                         <span class="sr-only">Next</span>
                         </a>
                    </div>
               </div>
     </section>

     <section class="py-4"></section>
     <section class="py-4"></section>
     <section class="py-4"></section>
     <section class="py-4"></section>

     <script>
          var acc = document.getElementsByClassName("accordion");
          var i;
          
          for (i = 0; i < acc.length; i++) {
            acc[i].addEventListener("click", function() {
              this.classList.toggle("active");
              var panel = this.nextElementSibling;
              if (panel.style.display === "block") {
                panel.style.display = "none";
              } else {
                panel.style.display = "block";
              }
            });
          }
          </script>
<script src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script src="{% static 'js/jquery-easing/jquery.easing.min.js' %}"></script>
<script src="{% static 'js/creative.min.js' %}"></script>
{% endblock %}
{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

</body>
</html>