<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}

     <style>
         body{
             color:white;
             text-align: justify;
         }

         p, ul{
             text-align: justify !important;
             margin: 20px;
             font-size: 14px;
         }

         h1, h2, h3, h4{
            margin: 20px;
         }

     </style>

     {% endblock %}   
</head>
<body>
    {% block content %}

    <br class="container py-5">


    <h2> TRYONBOARD - DECLARACIÓN DE PRIVACIDAD </h2>

    <section id="section1" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 1 - ¿QUÉ HACEMOS CON TU INFORMACIÓN?</h4>
        
        <p> Cuando se realiza el registro de un usuario, recolectamos la siguiente información personal: </p>
        <ul>
            <li> Nombre y Apellidos: Con su permiso podemos almacenar el nombre y los apellidos que proporcione, para que, en el momento del contacto con otros usuarios, su persona tenga una identidad más formal a la que poder referirse. </li>
            <li> Usuario y contraseña a elección de usuario (a excepción de que el usuario ya exista): Este será el identificador de la persona que se va a registrar en el sistema. </li>
            <li> Email: Con tu permiso, podremos enviarte correos electrónicos en caso de que sea necesario. Más información en las secciones de Gestión de alertas. </li>
            <li> Dirección: Será necesaria para, antes de contactar con otro usuario, ver si su localización es cercana a la del otro contacto y si no es así buscar otras alternativas. </li>
            <li> Teléfono: Para, en caso de contactar con otro usuario, poder llevar a cabo el encuentro de una manera sencilla. </li>
            <li> Dirección IP: Con su permiso, podemos almacenar la dirección IP para realizar el filtrado de juegos por zona.</li>
        </ul>
    </section>
   
    <section id="section2" class="page-section py-2">
        <hr class="divider light my-2">
        <h4> SECCIÓN 2 - CONSENTIMIENTO </h4>
        
        <p> ¿Cómo obtienen mi consentimiento? </p>
        <p> Cuando realizas el registro ya suponemos que tenemos su consentimiento para operar con sus datos. </p>
      
    </section>

    <section id="section3" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 3 – DERECHO A SER OLVIDADO</h4>
        
        <p> No nos hacemos responsables si la información disponible en este sitio no es exacta, completa o actual.  El material en este sitio es provisto solo para información general y no debe confiarse en ella o utilizarse como la única base para la toma de decisiones sin consultar, primeramente, información más precisa, completa u oportuna.  Cualquier dependencia en la materia de este sitio es bajo su propio riesgo. </p>
        <p> Este sitio puede contener cierta información histórica.  La información histórica, no es necesariamente actual y es provista únicamente para tu referencia.  Nos reservamos el derecho de modificar los contenidos de este sitio en cualquier momento, pero no tenemos obligación de actualizar cualquier información en nuestro sitio.  Aceptas que es tu responsabilidad de monitorear los cambios en nuestro sitio. </p>  
        </p>
    </section>
   
    <section id="section4" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 4 – GESTIÓN DE ALERTAS</h4>
        <p> En caso de que exista alguna brecha de seguridad en el sistema, le notificaremos mediante el correo proporcionado por usted para ponerle al tanto de los problemas presentes en el momento a través de la dirección de correo del Oficial de Cumplimiento de Privacidad, help.tryonboard@gmail.com, indicándole las medidas pertinentes a tomar. </p>
    </section>

    <section id="section5" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 5 – EXTRACCIÓN DE DATOS</h4>
        
        <p> En caso de que usted requiera de la información que el sistema tiene almacenada por su parte, puede descargarla directamente desde la aplicación (dentro de “Cuenta” -> ”Mi perfil”, haciendo click en “Descargar datos”). También puede contactar con nuestro Oficial de Cumplimiento de Privacidad a través de la dirección de correo electrónico help.tryonboard@gmail.com, en caso de que la funcionalidad del sistema esté en mantenimiento.</p>

    </section>

    <section id="section6" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 6 - SERVICIOS DE TERCERAS PARTES</h4>
        
        <p> En general, los proveedores de terceras partes utilizados por nosotros solo recopilarán, usarán y divulgarán tu información en la medida que sea necesaria para que les permita desempeñar los servicios que nos proveen. </p>
        <p> Sin embargo, algunos proveedores de servicios de terceros, tales como pasarelas de pago y otros procesadores de transacciones de pago, tienen sus propias políticas de privacidad con respecto a la información que estamos obligados a proporcionarles para las transacciones relacionadas con las compras. </p>
        <p>Para estos proveedores, te recomendamos que leas sus políticas de privacidad para que puedas entender la manera en que tu información personal será manejada.</p>
        <p>En particular, recuerda que algunos proveedores pueden estar ubicados o contar con instalaciones que se encuentran en una jurisdicción diferente a ti o nosotros.  Asique si deseas proceder con una transacción que involucra los servicios de un proveedor a terceros, tu información puede estar sujeta a las leyes de la jurisdicción (jurisdicciones) en que se encuentra el proveedor de servicios o sus instalaciones.</p>
        <p>Una vez que abandonas el sitio web de nuestra tienda o te rediriges a un sitio o aplicación de terceros, ya no estás siendo regulados por la presente Política de Privacidad o los Términos de Servicio de nuestra página web.</p>
    </section>
  
    <section id="section7" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 7 - SEGURIDAD</h4>
        
        <p>Para proteger tu información personal, tomamos precauciones razonables y seguimos las mejores prácticas de la industria para asegurarnos de que no haya pérdida de manera inapropiada, mal uso, acceso, divulgación, alteración o destrucción de la misma.</p>
        <p>La página se encuentra hospedada en Heroku, por lo que el sistema se encuentra bajo dominio HTTPS, utilizando un cifrado basado en la seguridad de textos SSL/TLS. </p>
        <p>A la hora de realizar un pago por alquiler/premium, si nos proporcionas la información de tu tarjeta de crédito, dicha información quedará encriptada a través de Stripe. </p>
        <p>Si se tuviese alguna duda de cómo actúa Stripe con lo que a seguridad respecta, ver el siguiente enlace: </p>
        <p><a href="https://stripe.com/docs/security/stripe">https://stripe.com/docs/security/stripe</a></p>
    </section>

    <section id="section8" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 8 - EDAD DE CONSENTIMIENTO</h4>
        
        <p>Al utilizar este sitio, declaras que tienes al menos la mayoría de edad en tu estado o provincia de residencia, o que tienes la mayoría de edad en tu estado o provincia de residencia y que nos has dado tu consentimiento para permitir que cualquiera de tus dependientes menores use este sitio.</p>
    </section>

    <section id="section9" class="page-section py-2">
        <hr class="divider light my-2">
        <h4>SECCIÓN 9 - CAMBIOS A ESTA POLÍTICA DE PRIVACIDAD</h4>
        <p>Nos reservamos el derecho de modificar esta política de privacidad en cualquier momento, asique por favor revísala frecuentemente.  Cambios y aclaraciones entrarán en vigencia inmediatamente después de su publicación en el sitio web.  Si hacemos cambios materiales a esta política, notificaremos aquí que ha sido actualizada, por lo que cual estás enterado de qué información recopilamos, cómo y bajo qué circunstancias, si las hubiere, la utilizamos y/o divulgamos.</p>
        <p>Si nuestra tienda es adquirida o fusionada con otra empresa, tu información puede ser transferida a los nuevos propietarios, para que podamos seguir vendiéndote productos.</p>
    </section>

    <section id="section10" class="page-section py-4">
        <hr class="divider light my-2">
        <h4>PREGUNTAS E INFORMACIÓN DE CONTACTO</h4>
        
        <p>Si quieres: acceder, corregir, enmendar o borrar cualquier información personal que poseamos sobre ti, registrar una queja, o simplemente quieres más información contacta a nuestro Oficial de Cumplimiento de Privacidad help.tryonboard@gmail.com</p>        
        <p> [Re: Oficial de Cumplimiento de Privacidad]<br/>

            [Escuela Técnica Superior De Ingeniería Informática, Avenida Reina Mercedes, Sevilla, AN, 41012, España]
        </p>
    </section>
    {% endblock %}
</body>
</html>