<html>
<head>
{% extends "base.html" %}

{% load static %}

	{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css"> 
 
  {% endblock %} 



</head>

<body>
  
{% block content %}

{% if mensaje %}

<!-- Espero que vaia, alerta por si el juego ya esta alquilado en la fecha -->
 <div class="alert">
  <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>¡Vaya!</strong> {{mensaje}}.
</div>

{% endif %}

{% if request.user.is_authenticated and request.user != owner %}

{% if game in favGames %}

<a href= "/gamesFavDelete/{{id}}" class="btn btn-danger btn-sm" 
style="border-radius: 8px;margin-bottom: 30px; margin-top: 30px;">
Eliminar de favoritos</a>
{% else %}
  <a href= "/gamesFavAdd/{{id}}" class="btn btn-info btn-sm" 
  style="border-radius: 8px;margin-bottom: 30px; margin-top: 30px;">
  Añadir a favoritos</a>

{% endif %}

{%endif%}

{% csrf_token %}


<div class="container">
<div class="d-flex justify-content-center">
<table style="text-align: center;">
  <thead>
    <tr>
      <td>
        <div><h3 style="border-radius: 8px; color:white; padding-top: 10px;">{{name}} - {{status}}</h3> </div>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>
         <img style="width:300px;height:300px; border-radius: 8px" src="{{picture.url}}"/>
      </td>
    </tr>
    <tr>
      <td>
        <div  style="color: #eee; margin-top: 30px;">

          <h4> Precio: {{price|floatformat:2}} &euro;</h4></br>
          <h5>Descripción:</h5> <div>{{description}}</div></br>
        
        
{% if request.user.is_authenticated and request.user != owner %}

        <form action="/addCart/{{id}}" method="POST" style="margin-top: 5px; margin-left: 5px; color: #eee;">
          {% csrf_token %}
          <div style="margin-top: 5px;">Fecha inicio alquiler:</br> <input type="date" id="initial" name="initial" style="color: black;" required>
          </div>
          <div style="margin-top: 5px;">Días de alquiler:</br> <input type="number" id="days" name="days" value="1"   style="color: black;" min="1" max="100" required>
          </div>

        </br>

        <button type="submit" class="btn btn-info btn-sm" style="border-radius: 8px; color:white;">Añadir al carrito</button>

         </form>

         {% endif %}

         {% if request.user == owner %}
    
        </br>
        <a href= "/gameDetail/{{id}}/edit" class="btn btn-info btn-sm" 

        style="margin-right: 5px;">Editar</a>

    
       <!-- Aqui viene el pop up-->
            
       <button type="button" class="btn btn-danger  btn-sm" data-toggle="modal" data-target="#exampleModal10">
        Borrar Juego
      </button>
    
    
      <!-- Modal -->
  
      <div class="modal fade" id="exampleModal10" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="popup">Advertencia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="text-dark" id="popup">¿Estás seguro de que quieres borrar tu juego: {{name}}?</h5>
            </div>
            <div class="modal-footer">
              <a role="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
              <a role="button" href="/delete/{{id}}" class="btn btn-primary">Si, continuar</a>
            </div>
          </div>
        </div>
      </div>   
  {% endif %}

        </div>
      </td>  
    </tr>
    <tr>

</tr>
<tr>

</tr>
</tbody>
</table>
</div>
{% if request.user != owner %}
<div style="text-align: center;">
  <h5> Usuario: </h5>
  <!--  Hi -->
  <div class="d-flex justify-content-center" >
    <div class="d-flex justify-content-center" style="background-color: #eee; border-radius: 8px; width:500px"> 
      <table>
      <tr>
      <td>
        {% if game.owner.picture == '' %}
        <img src="{% static 'img/predefinida.png' %}" style="width: 150px;"/>             <!-- margin-top: 180px; left:510px -->
      {% endif %}

      {% if game.owner.picture != '' %}
        {% if game.owner.premium == True %}
          <div style="color:white; border: double orange 0.5em;
            border-image: url('../static/img/frame.png') 20 round stretch;">
            <img src="{{game.owner.picture.url}}" style="width: 150px;"/>
          </div>
        {% else %}
          <img src="{{game.owner.picture.url}}" style="width: 150px;"/>
        {% endif %}
      {% endif %}

      </td>
    </tr>
    <tr>
      <td>
       <h5><a href="/profile/{{owner.id}}" style="text-decoration: underline; color: black;">{{owner}}</a> </h5>
       <h5 style="color: black;">Valoración: {{owner.rate}}⭐ </h5>
      </td>
    </tr>
    </table>
    </div>
  </div>

  <!-- Hi -->  

  <button class="accordion" style="text-align: center;">Mostrar zona de encuentro</button>
  <div class="panel">
    {% if error is None %}
  <!-- Vamos a ello -->
  <div id="map"></div>
  <div>
<style>
 /* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }
</style>
<script>
// Initialize and add the map
var var1 = "{{ longitude }}";
var var2 = "{{ latitude }}";
function initMap() {
// The location of ubicacion
var ubicacion = {lat: parseFloat(var2), lng: parseFloat(var1)};
// The map, centered at ubicacion
var map = new google.maps.Map(
document.getElementById('map'), {zoom: 16, center: ubicacion});
// The marker, positioned at ubicacion
//var marker = new google.maps.Marker({position: ubicacion, map: map});
var cityCircle = new google.maps.Circle({
      strokeColor: '#49abff',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#2496ff',
      fillOpacity: 0.35,
      map: map,
      center: ubicacion,
      radius: 180
    });
}
</script>

<script type='text/javascript'
src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAqVhn2_oLdi3dF7INvANSvN-jMsBPisME&callback=initMap">
</script>
</div>
    {% else %}
    <h5>No se ha podido encontrar la ubicacion</h5>
    {% endif %}
  <!-- Vamos a ello -->
  </div>

  
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  {% endif %}
</div>

  {% if request.user != owner %}
  <div style="text-align: center;">

    <a href= "/games" class="btn btn-info btn-sm" style=" color: white; border-radius: 8px; margin-bottom: 30px; margin-top: 30px;">Volver</a>
  </div>

  </div>
  {% else %}
  <div style="text-align: center;">
    <a href= "/myGames" class="btn btn-info btn-sm" style="border-radius: 8px;margin-bottom: 30px; margin-top: 30px;">Volver</a>
   </div>
  </div>
  {% endif %}
{% endblock %}


</body>
</html>