<html>
<head>
{% extends "base.html" %}

{% load static %}

	{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css"> 
 
  {% endblock %} 



</head>

<body>
  
{% block content %}
<div class="container">
<table>
  <thead>     
    <div><h3 style="border-radius: 8px; color:white; margin-left:39%; padding-top: 10px;">{{name}} - {{status}}</h3> </div>
  </thead>
  <tbody>
    <tr>
      <td>
         <img style="width:300px;height:300px; border-radius: 8px" src="{{picture.url}}"/>
      </td>
      <td>
        <div  style="color: #eee; margin-left: 15px; margin-top: 30px;">

          <h4> Precio: {{price}} &euro;</h4></br>
          <h5>Descripción:</h5> <div>{{description}}</div></br>
        
        {% if request.user != owner %}

        <form action="/addCart/{{id}}" method="POST" style="margin-top: 5px; margin-left: 5px; color: #eee;">
          {% csrf_token %}
          <div style="margin-top: 5px;">Fecha inicio alquiler:</br> <input type="date" id="initial" name="initial" style="color: black;" required>
          </div>
          <div style="margin-top: 5px;">Dias de Alquiler:</br> <input type="number" id="days" name="days" value="1"   style="color: black;" min="1" max="100" required>
          </div>

        </br>
        <button type="submit" class="btn btn-info btn-sm" style="border-radius: 8px; color:black; font-weight: bold;">Añadir al carrito</button>
         </form>
         {% endif %}

         {% if request.user == owner %}
    
        </br>
        <a href= "/gameDetail/{{id}}/edit" class="btn btn-info btn-sm" 
        style=" color:black; font-weight: bold; margin-right: 5px;">Editar</a>
    
       <!-- Aqui viene el pop up-->
            
       <button type="button" class="btn btn-danger  btn-sm" data-toggle="modal" data-target="#exampleModal">
        Borrar Juego
      </button>
    
    
      <!-- Modal -->
  
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title text-dark" id="popup">Advertencia</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <h5 class="text-dark" id="popup">¿Estas seguro de que quieres borrar tus datos? {{name}}</h5>
            </div>
            <div class="modal-footer">
              <a role="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
              <a role="button" href="/delete/{{id}}" class="btn btn-primary">Si, continuar</a>
            </div>
          </div>
        </div>
      </div>   
  {% endif %}

        </div>
      </td>  
    </tr>
    <tr>
      
  
</tr>
<tr>

</tr>
</tbody>
</table>
{% if request.user != owner %}
  <h5> Usuario: </h5>
  <!--  Hi -->
  <div style="max-width: 300px; margin-top: 20px;">
    <div style="background-color: #eee;; border-radius: 8px;"> 
      <table>
      <tr>
      <td>
       <img style="  width:100px;
       height:100px;
       border-radius:8px; margin-right: 5px" src="{{owner.picture.url}}"/>
      </td>
      <td>
       <h5><a href="/profile/{{owner.id}}" style="text-decoration: underline; color: black;">{{owner}}</a> </h5>
       <h5 style="color: black;">Valoracion: {{owner.rate}}⭐ </h5>
      </td>
    </tr>
    </table>
    </div>
  </div>

  <!-- Hi -->  

  <button class="accordion" style="text-align: center;">Mostrar Zona de Encuentro</button>
  <div class="panel">
  <!-- Vamos a ello -->
  <div id="map"></div>
  <div>
<style>
 /* Set the size of the div element that contains the map */
#map {
  height: 400px;  /* The height is 400 pixels */
  width: 100%;  /* The width is the width of the web page */
 }
</style>
<script>
// Initialize and add the map
var var1 = "{{ longitude }}";
var var2 = "{{ latitude }}";
function initMap() {
// The location of ubicacion
var ubicacion = {lat: parseFloat(var2), lng: parseFloat(var1)};
// The map, centered at ubicacion
var map = new google.maps.Map(
document.getElementById('map'), {zoom: 16, center: ubicacion});
// The marker, positioned at ubicacion
//var marker = new google.maps.Marker({position: ubicacion, map: map});
var cityCircle = new google.maps.Circle({
      strokeColor: '#49abff',
      strokeOpacity: 0.8,
      strokeWeight: 2,
      fillColor: '#2496ff',
      fillOpacity: 0.35,
      map: map,
      center: ubicacion,
      radius: 180
    });
}
</script>

<script type='text/javascript'
src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&key=AIzaSyAqVhn2_oLdi3dF7INvANSvN-jMsBPisME&callback=initMap">
</script>
</div>
  <!-- Vamos a ello -->
  </div>

  
<script>
  var acc = document.getElementsByClassName("accordion");
  var i;
  
  for (i = 0; i < acc.length; i++) {
    acc[i].addEventListener("click", function() {
      this.classList.toggle("active");
      var panel = this.nextElementSibling;
      if (panel.style.display === "block") {
        panel.style.display = "none";
      } else {
        panel.style.display = "block";
      }
    });
  }
  </script>
  {% endif %}

  {% if request.user != owner %}
  <div>
    <a href= "/games" class="btn btn-info btn-sm" style="border-radius: 8px; margin-left: 50%; margin-bottom: 30px; margin-top: 30px;color:black; font-weight: bold;">Volver</a>
   </div>
  </div>
  {% else %}
  <div>
    <a href= "/myGames" class="btn btn-info btn-sm" style="border-radius: 8px; margin-left: 50%; margin-bottom: 30px; margin-top: 30px;color:black; font-weight: bold;">Volver</a>
   </div>
  </div>
  {% endif %}
{% endblock %}


</body>
</html>


 <!--
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

  Moment.js
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.23.0/moment.min.js" integrity="sha256-VBLiveTKyUZMEzJd6z2mhfxIqz3ZATCuVMawPZGzIfA=" crossorigin="anonymous"></script>

  Tempus Dominus Bootstrap 4
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/css/tempusdominus-bootstrap-4.min.css" integrity="sha256-XPTBwC3SBoWHSmKasAk01c08M6sIA5gF5+sRxqak2Qs=" crossorigin="anonymous" />
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>



<style>
    tr{padding: 1 !important;}
    td{padding: 1 !important;}
  </style>
  <script>
    $(function () {
      $("#datetimepicker1").datetimepicker();

      $("#datetimepicker2").datetimepicker();
    });
  </script>

    <div class="col-sm-4" style="background-color: #6D65D3;border-radius: 8px;">
  
      <form>
        <fieldset>
          <legend name="Alquilar"></legend>
          <table style="margin: 15px;">
          <tr>
            <td style="color:white;">
              <label for="description">Descripción: </label>
            </td>
            <td>
              <textarea id="description" type="textarea" rows=3 cols=25 name="description" value="{{currentDescription}}" style=" margin: 3px; padding: 3px"></textarea>
            </td>
          </tr>
          <tr>
            <td style="color:white;">
              <label style=" margin: 5px; padding: 5px">Fecha inicio: </label>
            </td>
            <td>
              <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                <input type="text " class="form-control datetimepicker-input" data-target="#datetimepicker1"/>
                  <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                  </div>
              </div>
            </td>
          </tr>
          <tr>
            <td style="color:white;">
              <label style=" margin: 5px; padding: 5px">Fecha fin: </label>
            </td>
            <td>
              <div class="input-group date" id="datetimepicker2" data-target-input="nearest">
                <input type="text" class="form-control datetimepicker-input" data-target="#datetimepicker2"/>
                <div class="input-group-append" data-target="#datetimepicker2" data-toggle="datetimepicker">
                  <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                </div>
              </div>
            </td>
          </tr>
          <tr class="pager">
            <td>
              {% if dato.is_rentable != False %}
              <a href="/rent/{{id}}" type="button" class="btn btn-primary active" style="border-radius: 8px"> Alquilar</a></br> 
              {% endif %} 
            </td> 
          </tr>
          </table>
        </fieldset>
      </form>
    </div>-->