<html>
<head>

    {% extends "base.html" %}
    {% load static %}

    <link rel="stylesheet" type="text/css" href="{% static 'css/rent_style.css' %}">


</head>

<body>


{% block content %}
<!--<div class="container" style="width:600px;"> -->
<section class="form-register" style=" 
  width:  600px;
  background: #24303c;
  padding: 30px;
  margin: auto;
  border-radius: 8px;
  font-family: 'calibri';
  color: white;">

  <div><h3  class ="well well-sm"> {{texto}}Juego: </h3> </div>
  
  <div>     
    <div id="app"> 
      <form method="POST" enctype="multipart/form-data" class="NewGame" style=" margin: 20px;padding: 5px">
        {% csrf_token %}
         
        <table>
          {% for field in form %}
            <tr style="height: 40px; width: 40px;">
              <div class="field">               
                <td style="color:white;"><label class="label">{{field.label}} </label></td>
                {% if field.label == "Precio (€/día)" %}
                  <td><input type="number" v-model.number="precio"></td>
                {% endif %}

                {% if field.label != "Precio (€/día)" %}          
                  <td>{{field}}</td>
                {% endif %}
              </div>
            </tr>
          {% endfor %}
        </table>
              
        <div style="text-align:center; margin: 15px">
          <p class="text-warning">Su beneficio con este juego será de [[totalPrecio]] €</p>
          <p class="text-warning">Consiguiendo suscripción premium, ganaría [[totalPremium]] €</p>
          <button type="submit" class="btn btn-primary" style="border-radius: 8px">{{Alquilar}}</button>
        </div>

      </form>
    </div>        
  </div>
</section>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script>
        const app = new Vue({
        delimiters: ['[[', ']]'],
        el: '#app',
        data: {
          precio: '',
          total:0
        },
        methods: {
        },
        computed: {
              totalPrecio(){
                  this.total = this.precio - this.precio* 0.2;
                  return this.total;
              },
              totalPremium(){
                  this.total = this.precio - this.precio* 0.15;
                  return this.total;
              }
          }
      })
    </script>
 

{% endblock %}


</body>
</html>