
<html>
<head>
		{% extends "base.html" %}
		{% load static %}
		{% block extrahead %}
	   <link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css">

	   <script>
        function mensaje() {
         alert("El Carrito ha sido vaciado");
        }
        </script>
	   {% endblock %}
	</src>
</head>
<body>


{% block content %}

<div class="py-5">

<div style=" background: #3e5e7e; border-radius: 8px;">
	
	{% if mensaje %}

<!-- Espero que vaia, alerta por si el juego ya esta alquilado en la fecha -->
 <div class="alert" style="background-color: #2196F3;">
  <span class="closebtn"  onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>¡Atención! </strong> {{mensaje}}.
</div>

{% endif %}

	
	<h2 class="text-center" style="color:white;"> Carrito de alquileres </h1></br></h2>

	{% if order %}

	<div style="text-align: center;">
		<a href="/deleteAll" onclick="mensaje()"
		class="btn btn-danger btn-sm">Borrar todo</a></br> </br></td>
	</div>	
	
	<table  class= "table table-hover table-condensed">
		<thead>
			<tr style="color:white;">
				<th style="width:50%">Producto</th>
				<th style="width:10%">Precio</th>
				<th style="width:10%">Fecha inicio</th>
				<th style="width:22%" class="text-center">Opciones</th>
				
			</tr>
		</thead>
		{% for dato in order %}
		<tbody>
			
			<td data-th="Producto">
				<div class="row">
					<div class="col-2 hidden-xs"><img src="{{dato.game.picture.url}}" class="img-thumbnail"/></div>
					<div class="col-10">
						<h4 class="nomargin" style="color:white;">{{dato.game.name|capfirst}}      -    Estado: {{dato.game.status}}</h4>
						
					</div>
				</div>
			</td>
			<td data-th="Precio" style="color:white;">{{dato.game.price}} x {{dato.days}} días</td>
			<td data-th="Fecha inicio" style="color:white;">{{dato.initial_date|date:'Y-m-d'}}</td>
			<td data-th="Opciones"class="text-center">

				<a role=button href="/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm">Info</a>

				<a href="/deleteCart/{{dato.id}}"
					class="btn btn-danger btn-sm">Borrar</a>

			</td>
			<!-- -->
			
			<!--
			<tr style="text-align:center;">
				<td><img style="width: 245px;height: 245px; ; border-radius: 8px;" src="{{dato.game.picture}} "/>
			<div><h3> {{dato.game.name|capfirst}} - <i> {{dato.game.price}} €</i> </br></h3>
				Estado: {{dato.game.status}} </br>
				<a href= "/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm"
					style="border-radius: 8px; margin-top: 10px;">Ver mas</a></br> </br></div></td>

			</tr>
			-->			
			{% endfor %}

		</tbody>
	</table>


	
	<div style="text-align: center;">
		Total: {{sum}} €<br>

		{% endif %}
		
		{% if order %}
	
		<a href= "/confirm/{{id}}" class="btn btn-info btn-sm"
		style="border-radius: 8px; margin: 5px;">¡Alquilar juegos!</a>

		{% else %}

		<li class="text-center" style="color:white;">Vaya, parece que no hay artículos en su carrito, ¿Por qué no le 
			echas un ojo al catálogo?</li></br>
		
			<div style="text-align: center;">
			<a href= "/games" class="btn btn-info btn-sm"

			style="border-radius: 8px; margin: 10px;">Ir al catálogo</a></br> </br>
		</div>
		{% endif %}

	</div>

	<!-- <a href= "/games" class="btn btn-info btn-sm"
	style="border-radius: 8px; margin-top: 10px; color:black; font-weight: bold;">Seguir Alquilando</a></br> -->

	{% for dato in order %}

		{% empty %}
	{%  endfor %}
		
</div>

</div>
  {% block vue %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% endblock %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock %}

</body>
</html>