
<html>
<head>
		{% extends "base.html" %}
		{% load static %}
		{% block extrahead %}
	   <link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css">

	   <script>
        function mensaje() {
         alert("El Carrito ha sido vaciado");
        }
        </script>
	   {% endblock %}
	</src>
</head>
<body>


{% block content %}


<div  style=" background: #24303c;">
	
	{% if mensaje %}

<!-- Espero que vaia, alerta por si el juego ya esta alquilado en la fecha -->
 <div class="alert" style="background-color: #2196F3;">
  <span class="closebtn"  onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>Info! </strong> {{mensaje}}.
</div>

{% endif %}

	
	<h2 class="text-center" style="color:white;"> Carrito de alquileres </h1></br></h2>
	
	
	<table  class= "table table-hover table-condensed">
		<thead>
			<tr style="color:white;">
				<th style="width:50%">Producto</th>
				<th style="width:10%">Precio</th>
				<th style="width:10%">Fecha inicio</th>
				<th style="width:22%" class="text-center">Opciones</th>
				
			</tr>
		</thead>
		{% for dato in order %}
		<tbody>
			
			<td data-th="Producto">
				<div class="row">
					<div class="col-2 hidden-xs"><img src="{{dato.game.picture.url}}" class="img-thumbnail"/></div>
					<div class="col-10">
						<h4 class="nomargin" style="color:white;">{{dato.game.name|capfirst}}      -    Estado: {{dato.game.status}}</h4>
						
					</div>
				</div>
			</td>
			<td data-th="Precio" style="color:white;">{{dato.game.price}} x {{dato.days}} dias</td>
			<td data-th="Fecha inicio" style="color:white;">{{dato.initial_date|date:'Y-m-d'}}</td>
			<td data-th="Opciones"class="text-center">
				<a role=button href="/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm" style="color:black; font-weight: bold;">Info</a>

				<a href="/deleteCart/{{dato.id}}"
					class="btn btn-info btn-sm" style="color:black; font-weight: bold; background-color: #F93F42">Borrar</a>
			</td>
			<!-- -->
			
			<!--
			<tr style="text-align:center;">
				<td><img style="width: 245px;height: 245px; ; border-radius: 8px;" src="{{dato.game.picture}} "/>
			<div><h3> {{dato.game.name|capfirst}} - <i> {{dato.game.price}} €</i> </br></h3>
				Estado: {{dato.game.status}} </br>
				<a href= "/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm"
					style="border-radius: 8px; margin-top: 10px;">Ver mas</a></br> </br></div></td>

			</tr>
			-->
			<a href= "/confirm/{{id}}" class="btn btn-info btn-sm"
			style="border-radius: 8px; margin: 5px; color:black; font-weight: bold;">Alquilar Juegos!</a>
			<a href="/deleteAll" onclick="mensaje()"
			class="btn btn-info btn-sm" style="border-radius: 8px;color:black; font-weight: bold; background-color: #F93F42">Borrar Todo</a></br> </br></td>
				
			{% empty %}

			</tbody>
			</table>

			<li class="text-center" style="color:white;">Vaya, parece que no hay articulos en su carrito, ¿Por que no le 
			echas un ojo al Catálogo?</li></br>

			<a href= "/games" class="btn btn-info btn-sm"
			style="border-radius: 8px; margin: 10px; color:black; font-weight: bold;">Ir al Catalogo</a></br> </br>
			{% endfor %}

		</tbody>
	</table>
	<li class="text-center" style="color:white;">Total: {{sum}}</li>


	<!-- <a href= "/games" class="btn btn-info btn-sm"
	style="border-radius: 8px; margin-top: 10px; color:black; font-weight: bold;">Seguir Alquilando</a></br> -->

	{% for dato in order %}

		{% empty %}
	{%  endfor %}
		</tbody>
	</table>
		
</div>

  {% block vue %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% endblock %}
  <script src= "prueba.js"></script>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock %}

</body>
</html>