
<html>
<head>
		{% extends "base.html" %}
		{% load static %}
		{% block extrahead %}
	   <link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css">

	   <script>
        function mensaje() {
         alert("El Carrito ha sido vaciado");
        }
        </script>
	   {% endblock %}
	</src>
</head>
<body>


{% block content %}

<div class="py-5">

<div style=" background: #3e5e7e; border-radius: 8px;">
	
	{% if mensaje %}

<!-- Espero que vaia, alerta por si el juego ya esta alquilado en la fecha -->
 <div class="alert" style="background-color: #2196F3;">
  <span class="closebtn"  onclick="this.parentElement.style.display='none';">&times;</span> 
  <strong>¡Atención! </strong> {{mensaje}}.
</div>

{% endif %}

	
	<h2 class="text-center" style="color:white;"> Carrito de alquileres </h1></br></h2>

	{% if order %}

	<div style="text-align: center;">
		<a href="/deleteAll" onclick="mensaje()"
		class="btn btn-danger btn-sm">Borrar todo</a></br> </br></td>
	</div>	

	<div class="row">                  
		<div class="col-lg-3 col-md-6 d-none d-lg-block col-sm-offset-1">
			 <p style="text-decoration: underline;"><b>Producto</b></p> 
		</div>
		
		<div class="col-lg-3 col-md-6 d-none d-lg-block col-sm-offset-1">
			 <p style="text-decoration: underline;"><b>Precio</b></p> 
		</div>
		
		<div class="col-lg-3 col-md-6 d-none d-lg-block col-sm-offset-1">
			 <p style="text-decoration: underline;"><b>Fecha inicio</b></p> 
		</div>
		
		<div class="col-lg-3 col-md-6 d-none d-lg-block col-sm-offset-1">
			 <p style="text-decoration: underline;"><b>Opciones</b></p> 
		</div>
   </div>

		{% for dato in order %}
		<div class="row justify-content-center">           
			<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1" style="text-align: center;" data-th="Producto">
					<img src="{{dato.game.picture.url}}" style="height: 100px;" class="img-thumbnail"/>
					<h4 class="nomargin" style="color:white;">
						{{dato.game.name|capfirst}}      -    Estado: {{dato.game.status}}
					</h4>
			</div>
			<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1" style="text-align: center;" data-th="Precio">
				{{dato.game.price}}&euro; x {{dato.days}} días
			</div>
				
			<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1" style="text-align: center;" data-th="Fecha inicio">
				{{dato.initial_date|date:'Y-m-d'}}
			</div>
				
			<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1" style="text-align: center;"  data-th="Opciones">
				<a role=button href="/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm">Info</a>

				<a href="/deleteCart/{{dato.id}}"
					class="btn btn-danger btn-sm">Borrar</a>
			</div>
	   </div>
	   <hr>

	   {% endfor %}
	
	<div style="text-align: center;">
		Total: {{sum}} €<br>

		{% endif %}
		
		{% if order %}
	
		<a href= "/confirm/{{id}}" class="btn btn-info btn-sm"
		style="border-radius: 8px; margin: 5px;">¡Alquilar juegos!</a>

		{% else %}

		<li class="text-center" style="color:white;">Vaya, parece que no hay artículos en su carrito, ¿Por qué no le 
			echas un ojo al catálogo?</li></br>
		
			<div style="text-align: center;">
			<a href= "/games" class="btn btn-info btn-sm"

			style="border-radius: 8px; margin: 10px;">Ir al catálogo</a></br> </br>
		</div>
		{% endif %}

	</div>

	<!-- <a href= "/games" class="btn btn-info btn-sm"
	style="border-radius: 8px; margin-top: 10px; color:black; font-weight: bold;">Seguir Alquilando</a></br> -->

	{% for dato in order %}

		{% empty %}
	{%  endfor %}
		
</div>

</div>
  {% block vue %}
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  {% endblock %}


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>


{% endblock %}

</body>
</html>