<html>
<head>

	{% extends "base.html" %}

</head>
<body>
<!-- No se por que no va esto -->
	

{% block content %}
<!-- Probar esto (Extensiones)-->
<!--   <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
-->

<!-- Aqui hacer bucle por columna para hacer una buena vista-->

<div class="py-3"  style= "padding-block-end: 60px;margin: auto;">
	
	<h1 style="color: white; font-size:30px; border-radius: 8px; width: auto"> Lista de alquileres </h1></br>
	
	{% for dato in rents %}

	<div class="row" style="margin-top: 5px; background-color: #3e5e7e;">
		<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1">
			<img style="width:150px;height:150px; ; border-radius: 8px; padding: 5px;" src="{{dato.game.picture.url}} "/>
		</div>
		<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1">
			<div style="color: white;"><h4> {{dato.game.name}} - {{dato.ticker|capfirst}} </h4></div> 
			<p style="color: white;"> <b>Teléfono: {{dato.user.phone}}</b></p>
			<p style="color: white;">Días: {{dato.days}}</p>
			<p style="color: white;">Fecha inicio: {{dato.initial_date|date:'Y-m-d'}}</p>			
		</div>
		<div class="col-lg-3 col-md-6 col-sm-10 col-10 col-sm-offset-1">
			<a href= "/gameDetail/{{dato.game.id}}" class="btn btn-info btn-sm my-1" style="border-radius: 8px">Ver más</a></br>
			{% if dato.deliver == False and dato.rentable == False and dato.user == request.user %}
			<a href= "/rents/deliver/{{dato.id}}" class="btn btn-info btn-sm my-1" style="border-radius: 8px">Entregado</a></br>
			{% endif %}
			{% if dato.deliver == True and dato.game.owner == request.user %}
				<a href= "/rents/deliver/{{dato.id}}" class="btn btn-info btn-sm my-1" style="border-radius: 8px">Recibido</a></br>
			{% endif %}

			{% if dato.game.owner == request.user%}
			<a href= "/contend/{{dato.id}}" class="btn btn-info btn-sm my-1" style="border-radius: 8px">Abrir disputa</a></br> 
			{% else %}
			<a href= "/review/{{dato.game.owner.id}}" class="btn btn-info btn-sm my-1" style="border-radius: 8px">Comentar</a>
			{% endif %}
		</div>
	</div>
	{% empty %}

<!-- Hacer Visible esta pagina. -->
	<div style="text-align: center;">
		<li class="text-center" style="color:white;">Vaya, parece que no ha habido ningún alquiler.</li>
		</br>
		<a href= "/games" class="btn btn-info btn-sm"
			style="border-radius: 8px; margin: 10px;">Ir al catálogo</a></br> </br>
	</div>

	{% endfor %}

</div>


<!-- Una vista final de la vista para darle profesionalidad -->


  <script src= "../static/css/style.css"></script>
  
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

{% endblock %}

</body>
</html>