
<html>
    <head>
         {% extends "base.html" %}
         {% load static %}
         {% block extrahead %}
        <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css"> 
        {% endblock %}
    
    <style>
    #popup{
      text-decoration-color: black;
    }

    </style>    
    </head>
    
    <body> 
{% block content %}
    <form method="POST" action="" >
        {% csrf_token %}
        <div>
        <h5 class="text-center py-5" style="color: white; max-width: 50%; margin-left: 25%;">
           En breves sus datos como usuario se descargaran, si lo desea, puede dar su opinión sobre 
        la aplicación o la causa de la descarga. Muchas gracias por usar TryOnBoard </h5>
       
            {% for field in form %}
          <div class="text-center">
              <div class="field">               
                 <div style="color:white;"><label class="label">{{field.label}} </label></div>
                  <div>{{field}}</div>
              </div>
            </div>
          {% endfor %}
        
        </div>

    
        <div style="margin: 15px; text-align: center;">
            <a href= "/profile/{{user.id}}" class="btn btn-info btn-sm" style=" color: white; border-radius: 8px; margin-bottom: 30px; margin-top: 30px;">Volver</a>
            <button type="submit" class="btn btn-primary"  style="border-radius: 8px;">Descargar</button>              
        </div>
    </form>
{% endblock %}


{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}
</body>

</html>