<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css"> 
    {% endblock %}
</head>
<body>

{% block content %}
<div class="row justify-content-md-center py-5">
<div class="form-main">
    <h2 class="form-title py-2">Iniciar sesión</h2>
    <form method="POST">
        {% csrf_token %}
        
        <table style="margin-left: 80px;">
            {% for field in form %}
              <tr style="height: 40px; width: 40px;">
                    {% if field.label == "Usuario" %}         
                        <td style="color:white;"><label class="label">Usuario: </label></td>
                    {% else %}
                        <td style="color:white;"><label class="label">Contraseña: </label></td>
                    {% endif %}
  
                    <td>{{field}}</td>
              </tr>
            {% endfor %}
          </table>
         
         <div>
               {% if form.errors %}
                   {% for field in form %}
                       {% for error in field.errors %}
                           <div class="alert alert-danger">
                               <strong>{{ error|escape }}</strong>
                           </div>
                       {% endfor %}
                   {% endfor %}
                   {% for error in form.non_field_errors %}
                       <div class="alert alert-danger">
                           <strong>{{ error|escape }}</strong>
                       </div>
                   {% endfor %}

               {% endif %}
           </div>

        <div style="text-align:center; margin-top: 10px;">
            <button type="submit" class="btn btn-primary"  style="border-radius: 8px">Entrar</button>
        </div>
        <p style="text-align:center;">¿Aún no tienes cuenta? <a href="/newuser" style="padding: 5px;"> Regístrate aquí</a></p>
    </form>
</div>
</div>
{% endblock %}
{% block vue %}
<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
{% endblock %}

</body>
</html>
