<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css"> 
    {% endblock %}
</head>

<body>
    {% load crispy_forms_tags %}

    {% block content %}
    <div class="row justify-content-md-center py-5">

        <div class="form-register">
            {% if request.user.is_authenticated == False %} 
            <div><h3  class ="well well-sm">Nuevo Usuario:</h3> </div>
            {% endif %}
            {% if request.user.is_authenticated %} 
            <div><h3  class ="well well-sm">Editar Usuario:</h3> </div>
            {% endif %}
            <div>      
        
                    <div>      
                        <div><h6  class ="well well-sm">Los campos con * son obligatorios</h6> </div>
        
                        <form method="POST" enctype="multipart/form-data" class="NewUser" style=" margin: 5px; padding: 5px; border-radius: 8px;">
                            {% csrf_token %}
                            
                            {% for field in form %}
                              
                            <div class="col-sm-5 col-md-7 col-lg-12">
                                <div class="field">               
                                    {{field|as_crispy_field}}
                                </div>
                            </div>
                            {% endfor %}
                            {% if request.user.is_authenticated %} 
                            <div style="margin: 15px; text-align: center;">
                                <a href="/profile/{{user.id}}" class="btn btn-info btn-sm"  style="border-radius: 8px"> Volver </a>
                                <button type="submit" class="btn btn-primary"  style="border-radius: 8px">Actualizar</button>              
                            {% else %}
                            <div style="margin: 15px; text-align: center;">
                                <a href="/" class="btn btn-info btn-sm"  style="border-radius: 8px"> Volver </a>
                            <button type="submit" class="btn btn-primary"  style="border-radius: 8px">Crear</button> 
                            {% endif %}
                            </div>                   
                        
                        {% if request.user.is_authenticated == False %}
                        <p style="text-align: center;">¿Ya tiene una cuenta? <a href="/login" style="padding: 5px;"> Inicie Sesión</a></p>
                        {% endif %}
                        </form>
                    </div>    
            </div> 
        
        </div>

    </div>
    {% endblock %}
    {% block vue %}
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    {% endblock %}
    
    </body>

</html>