<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css"> 
    {% endblock %}
</head>
<body>

    {% block content %}

<section class="form-register">
    {% if request.user.is_authenticated == False %} 
    <div><h3  class ="well well-sm">Nuevo Usuario:</h3> </div>
    {% endif %}
    {% if request.user.is_authenticated %} 
    <div><h3  class ="well well-sm">Editar Usuario:</h3> </div>
    {% endif %}
    <div>      

            <div>      
                <div><h6  class ="well well-sm">Los campos con * son obligatorios</h6> </div>

                <form method="POST" enctype="multipart/form-data" class="NewUser" style=" margin: 5px; padding: 5px; border-radius: 8px;">
                    {% csrf_token %}
                    <table>
                      {% for field in form %}
                    <tr style="height: 40px; width: 40px;">
                        <div class="field">               
                            <td style="color:white;">
                                {% if field.label == "Acepto Términos y Condiciones de uso*" %}
                                <a target="_blank" href="/terms">
                                    <label class="label" style="text-decoration: underline;">{{field.label}} </label></a>
                                {% else %}
                                    <label class="label">{{field.label}} </label>
                                {% endif %}
                            </td>
                            <td>{{field}}</td>
                        </div>
                    </tr>
                    {% endfor %}
                    </table>
                    {% if request.user.is_authenticated %} 
                    <div style="margin: 15px; text-align: center;">
                        <a href="/profile/{{user.id}}" class="btn btn-primary"  style="border-radius: 8px"> Volver </a>
                    {% else %}
                    <div style="margin: 15px; text-align: center;">
                    <a href="/" class="btn btn-primary"  style="border-radius: 8px"> Volver </a>
                    {% endif %}
                        <button type="submit" class="btn btn-primary"  style="border-radius: 8px">Crear</button>              
                    </div>
                
                <div>
                    {% if form.errors %}
                        {% for field in form %}
                            {% for error in field.errors %}
                                <div class="alert alert-danger">
                                    <strong>{{ error|escape }}</strong>
                                </div>
                            {% endfor %}
                        {% endfor %}
                        {% for error in form.non_field_errors %}
                            <div class="alert alert-danger">
                                <strong>{{ error|escape }}</strong>
                            </div>
                        {% endfor %}

                    {% endif %}
                </div>
                
                {% if request.user.is_authenticated == False %}
                <p style="text-align: center;">¿Ya tiene una cuenta? <a href="/login" style="padding: 5px;"> Inicie Sesión</a></p>
                {% endif %}
                </form>
            </div>    
    </div> 

</section>
{% endblock %}


</body>
</html>