
<html>
<head>
     {% extends "base.html" %}
     {% load static %}
     {% block extrahead %}
    <link rel="stylesheet" href="{% static 'css/style_user.css' %}" type="text/css"> 
    {% endblock %}

<style>
#popup{
  text-decoration-color: black;
}

.container{
    padding:20%;
    margin-left: 20%;
    margin-right: 20%;
}
.container .img{
    text-align:right;
}
.container .details{
    border-left:3px solid #ded4da;
}
.container .details p{
    font-size:15px;
    font-weight:bold;
}

</style>    
</head>

<body> 

{% block content %}

<!-- A ver puedes centrar esto Juan -->
<div class="d-flex justify-content-center">
<div class="d-inline-flex justify-content-center my-5 py-4 px-4" >
    <table>
      <tr>
        <td>
          <div style="position: relative;">
            <div style=" color:white; border: double orange 1em;
            border-image: url('../static/img/frame4.png') 20 round stretch;">
              <img src="{% static 'img/tob.png' %}" style="width: 60px; position: absolute; bottom: 0px; left: 0px;"/>
              <img src="{{user.picture.url}}" style="width: 150px;"/>             <!-- margin-top: 180px; left:510px -->
            </div>
          </div>
        {% if request.user.id == user.id and request.user.is_authenticated == True %} 
        <a role="button" href="/editPic/" class="btn btn-primary my-2">Editar foto</a></br>
        <a role="button" href="/descargaDatos/{{user.id}}" class="btn btn-primary my-2">Descargar datos</a>   
        {% endif %}
    </td>
    <td>
      <div class="details text-left" style="color:whitesmoke; margin-left: 50px;">

        <h5 class="text-left">{{user.first_name}} {{user.last_name}} </h5>
        <small>{{user.range}}</small>
        <h5>Valoración: {{user.rate}}</h5>
        <h5>{{user.bio}}</h5>
        </br>
        <!-- Aqui viene el pop up-->
        {% if request.user.id == user.id and request.user.is_authenticated == True %} 
        <a role="button" href="/editProfile/" class="btn btn-primary my-2">Editar perfil</a>
        <a role="button" href="/editAccount/" class="btn btn-primary my-2">Editar cuenta</a>       
      </br>
        <button type="button" class="btn btn-danger my-1" data-toggle="modal" data-target="#exampleModal">
          Borrar datos
        </button>

        {% endif %}

      
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark" id="popup">Advertencia</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <h5 class="text-dark" id="popup">¿Estas seguro de que quieres borrar tus datos?</h5>
              </div>
              <div class="modal-footer">
                <a role="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</a>
                <a role="button" href="/deleteUser/{{user.id}}" class="btn btn-primary">Si, continuar</a>
              </div>
            </div>
          </div>
        </div>
        
        
      </div>
      </td>
    </tr>
    </table>
</div>
</div>
<div id="app">
  {% if request.user.id != user.id and request.user.is_authenticated == True %} 
  <div class="row justify-content-center">
  <a href= "/review/{{user.id}}" class="btn btn-primary btn-sm text-center my-3" style="border-radius: 8px;">Añadir comentarios</a> 
  </div>
  {% endif %}
  <div class="row justify-content-center">
  <button class="btn btn-primary my-3" @click="com = !com" style="color:white;text-align: center;">Ver comentarios</button>
</div>
  <div :class="{'d-none' : com}">
  <div style="background-color: #24303c; color:white; justify-content: center;">

	  
	<table class="table text-center">
	{% for dato in comments %}

		<tr style="align-content: center; text-align: left;">
            <td style="background-color: rgb(78, 90, 104)">  <em>Usuario: {{dato.fromUser}}</em><div style="color:white;"><h5>" {{dato.comment}} "</h5></div> </br> </td>
    </tr>
  <br/>
	{% empty %}

<!-- Hacer Visible esta pagina. -->

	<li class="text-center" style="color:white;">Vaya, parece que no hay comentarios</li>

	{% endfor %}
</table>
</div>
</div>
</div>

<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
<script>
  const app = new Vue({
	el: '#app',
	data: {
		com: true
	},
	methods: {

	}

})
</script>
<div class="row justify-content-center">
<a href= "/" class="btn btn-info btn-sm text-center my-3" style="border-radius: 8px;">Volver</a> </br>
</div>
{% endblock %}

{% block vue %}
{% endblock %}
</body>

</html>