<html>
<head>

	{% extends "base.html" %}
	{% load static %}
	{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css"> 
	{% endblock %} 

</head>
<body>
<!-- No se por que no va esto -->
	

{% block content %}

<!-- Aqui hacer bucle por columna para hacer una buena vista-->

<div class="container py-5">
	
	<h1> Lista de usuarios </h1>
	
	<div class="container" style= "display: flex; flex-wrap: wrap;">
		
	{% for dato in users %}

	<table  class= "table-games">

	<tr style="text-align:center;">
		<td><img style="width: 245px;height: 245px; ; border-radius: 8px;" src="{{dato.picture.url}} "/>
	 <div><h3> {{dato.first_name|capfirst}} {{dato.last_name}} </br></h3>
		 <a href= "/deleteUser/{{dato.id}}" class="btn btn-info btn-sm"
		  style="border-radius: 8px; margin-top: 10px;color:black; font-weight: bold;">Eliminar usuario</a></br> </br>
		  <a href= "/deleteUser/{{dato.id}}" class="btn btn-info btn-sm"
		  style="border-radius: 8px; margin-top: 10px;color:black; font-weight: bold;">Mensaje</a></br> </br></td>
		
	</tr>
	</table>
	{% empty %}

<!-- Hacer Visible esta pagina. -->

	<li>Vaya, parece que no hay juegos</li>

	{% endfor %}
</div>


<!-- Solución Parcial, ver como solucionarlo -->

</div>
<!-- Una vista final de la vista para darle profesionalidad -->

{% endblock %}

</body>
</html>
