<html>
<head>

	{% extends "base.html" %}
	{% load static %}
	{% block extrahead %}
	<link rel="stylesheet" href="{% static 'css/rent_style.css' %}" type="text/css"> 
	{% endblock %} 

</head>
<body>
<!-- No se por que no va esto -->
	

{% block content %}

<!-- Aqui hacer bucle por columna para hacer una buena vista-->

<div class="container py-5">
	
	<h1> Lista de usuarios </h1>
	
	<div class="container" style= "display: flex; flex-wrap: wrap;">
		
		{% for user in users %}

			<table  class= "table-games" style="width: 200px; height:400px;">

				<tr style="text-align:center;">
					<td>
						{% if user.picture == '' %}
							<img src="{% static 'img/predefinida.png' %}" style="width: 150px;"/>    
						{% endif %}
						{% if user.picture != '' %}
							<div>
								<img src="{{user.picture.url}}" style="width:150px"/>
							</div>
						{% endif %}

						<div>
							<h3> {{user.first_name|capfirst}} {{user.last_name}} </br></h3>
							
							<a href= "/deleteUser/{{user.id}}" class="btn btn-info btn-sm"
							style="border-radius: 8px; margin-top: 10px;">Eliminar usuario</a></br>
							
							<a href= "/contact/{{user.id}}" class="btn btn-info btn-sm"
							style="border-radius: 8px; margin-top: 10px;">Mensaje</a></br>							
						</div>
					</td>
				</tr>
			</table>
		
			{% empty %}

			<li>Vaya, parece que no hay usuarios.</li>

		{% endfor %}
	</div>
</div>

{% endblock %}

</body>
</html>
