 .form-main, .col{
    width:  450px;
    background: #3e5e7e;
    border-radius: 8px;
    font-family: 'calibri';
    color: white;
  }
  

  a:link {
    color: rgb(255, 255, 255);
  }

  a:hover {
    color: rgb(107, 149, 167);
  }

  .form-main .form-title{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 120px;
  }

  .form-main .form-button {
    margin-left: 50%;
  }

  .d-inline-flex{
    background-color: #3e5e7e; 
    width: auto;
  }
  
 .form-register{
  width:  600px;
  background: #3e5e7e;
  padding: 30px;
  margin: auto;
  border-radius: 8px;
  font-family: 'calibri';
  color: white;
 }
  
 .boto {
  background-color: DodgerBlue;
  border: none;
  color: white;
  padding: 12px 30px;
  cursor: pointer;
  font-size: 20px;
}

/* Darker background on mouse-over */
.boto:hover {
  background-color: RoyalBlue;
}